{% stylesheet %}
@media screen and (max-width:750px){
  .freedom-in-podxgo{
    padding:14px;
    margin:0 auto;
    width:98%;
    text-align:center
  }
  .freedom-in-podxgo img{
    width:170px !important;
  }
   .freedom-in-podxgo div{
    font-size:30px !important;
    margin:0 auto;
    text-align:center
   }
}

@media screen and (min-width:750px){
  .freedom-in-podxgo{
    padding:14px;
    margin:0 auto;
    width:100%;
    text-align:center
  }
  .freedom-in-podxgo img{
    width:170px;
    vertical-align:middle;
  }
}
  
{% endstylesheet %}





<div class="diversified-and-multi-column page-width" >
    <div style="font-size:{{ section.settings.font_size }}px;font-weight:bold;color:black;" class="diversified-and-multi-column-heading">
      <img src={{ section.settings.image | image_url }}
      {{ section.settings.heading }}
      
    </div>
  
  
</div>


{% schema %}
  {
    "name": "多样化多列",
    "tag":"section",
    "class":"setion",
    "settings": [
      {
        "type":"image_picker",
        "id":"image",
        "label":"图片元素"
      },
      {
        "type":"text",
        "id":"heading",
        "label":"标题"
      },
      {
        "type":"range",
        "id": "font_size",
        "min": 12,
        "max": 100,
        "step": 2,
        "label":"标题字体大小",
        "default":24
      }
    ],
    "blocks":[
      {
        "type":"column_item",
        "name":"多列元素",
        "limit":4,
        "settings":[
          {
            "type":"image_picker",
            "id":"image_1",
            "label":"多列中的图片元素"
          },
          {
            "type":"text",
            "id":"heading_1",
            "label":"多列头部标题"
          },
          {
             "type":"range",
            "id":"heading_size",
            "min":10,
            "max":100,
            "step":2,
            "default":14,
            "label":"多列头部标题字体大小"
          },
          {
            "type":"text",
            "id":"text_1",
            "label":"多列文案1"
          },
          {
            "type":"text",
            "id":"text_2",
            "label":"多列文案2"
          },
          {
             "type":"range",
            "id":"text_size",
            "min":10,
            "max":100,
            "step":2,
            "default":14,
            "label":"多列文案字体大小"
          }
        ]
      }
    ],
     "presets":[
       {
         "name":"freedom-in-podxgo",
         "blocks":[
           {"type":"column_item"}
         ]
       }
     ]
  }
{% endschema %}


